/*article.post {
  background-color: rgb(222, 222, 222);
  border-radius: 8px;
  margin: auto;
  margin: 2% 2%;
  padding: 2% 2% 3% 2%;
}*/

img.post {
  height: 200px;
  width: 325px;
  margin-top: 8%;
  float: left;
  margin-right: 1%;
}

h3.author {
  text-align: right;
}
body {
  background: grey;
}
.glyphicon {
 font-size: 1.1em;
 color: blue;
 -webkit-touch-callout: none; /* iOS Safari */
 -webkit-user-select: none;   /* Chrome/Safari/Opera */
 -khtml-user-select: none;    /* Konqueror */
 -moz-user-select: none;      /* Firefox */
 -ms-user-select: none;       /* Internet Explorer/Edge */
}
.glyphicon:hover, #submitButton:hover {
 cursor: pointer;
}
.glyphicon-arrow-up:active {
 color: green;
}
.glyphicon-arrow-down:active {
 color: red;
}
.navbar, .modalButton {
  background: rgb(51, 78, 218);
  border: 2px solid rgb(51, 78, 218);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand:hover,.navbar-default .navbar-brand,  .navbar-default .navbar-nav > li > a:focus {
color: white;
}

.dropdown-menu > li > a:hover,
 .dropdown-menu > li > a:focus {
  color: #262626;
 text-decoration: none;
background-color: white;  /*change color of links in drop down here*/
 }
 .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: #030033;
}
.modal-backdrop
{
    opacity:0.7 !important;
}
.modal-header {
  background: rgb(51, 78, 218);
  color: white;
}
.positive {
  color: green;
}
.negative {
  color: red;
}
.well.ng-enter {
  transition:0.5s ease all;
  opacity:0;
  transition: opacity 0.5s linear;
}

.well.ng-enter.ng-enter-active {
  opacity:1;
  transition:0.5s ease all;
  transition: opacity 0.5s linear;
}
.well.ng-leave {
  transition:0.5s ease all;
  opacity:1;
  transition: opacity 0.5s linear;
}

.well.ng-leave.ng-leave-active {
  opacity:0;
  transition: opacity 0.5s linear;
}
.comment {
  opacity: 1;
}

.comment.ng-hide-add, .comment.ng-hide-remove {
  transition: 0.5s linear all;
}

.comment.ng-hide {
  opacity: 0;
}
.well {
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 15px;
}
