<h1>Wow it actually got here, yay</h1>
<div class="container">

      <form class="form-signin" ng-submit='vm.addUser(user)'>
        <h2 class="form-signin-heading">Please sign up</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" placeholder="Username" name='username' required autofocus ng-model='user.username'>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="text" id="inputPassword" placeholder="Password" name='password' required ng-model='user.password'>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>
