
          <form ng-submit="vm.submitNewPost(newPost)" name='newPostForm'>
            <fieldset class="form-group">
              <label>Title</label>
              <input type="text" class="form-control" ng-model='newPost.title' name='inputTitle' minlength='5' required>
              <small class="text-muted">Enter the title of your posting.</small>
            </fieldset>
            <fieldset class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" ng-model='newPost.description' name='inputDescription' minlength='5' required>
              <small class="text-muted">Enter the description of the posting.</small>
            </fieldset>
            <fieldset class="form-group">
              <label>Image URL</label>
              <input type="text" class="form-control" ng-model='newPost.img_url' name='inputUrl' minlength='5' required>
              <small class="text-muted">Enter the URL of the image for the posting.</small>
            </fieldset>
            <fieldset class="form-group">
              <label>Author</label>
              <input type="text" class="form-control" ng-model='newPost.author' name='inputAuthor' minlength='5' required>
              <small class="text-muted">Author of the posting.</small>
            </fieldset>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
