<h4>Create a posting</h4>
<form ng-submit="onClick()" name='modalForm'>
  <fieldset class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" ng-model='newPost.title' name='inputTitle' minlength='5' required>
    <small class="text-muted">Enter the title of your posting.</small>
    <div ng-messages='modalForm.inputTitle.$error'>
      <div ng-message='minlength'>Title must be at least 5 characters long.</div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" ng-model='newPost.description' name='inputDescription' minlength='5' required>
    <small class="text-muted">Enter the description of the posting.</small>
    <div ng-messages='modalForm.inputDescription.$error'>
      <div ng-message='minlength'>Description must be at least 5 characters long.</div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label>Image URL</label>
    <input type="text" class="form-control" ng-model='newPost.url' name='inputUrl' minlength='5' required>
    <small class="text-muted">Enter the URL of the image for the posting.</small>
    <div ng-messages='modalForm.inputUrl.$error'>
      <div ng-message='minlength'>Url must be at least 5 characters long.</div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label>Author</label>
    <input type="text" class="form-control" ng-model='newPost.author' name='inputAuthor' minlength='5' required>
    <small class="text-muted">Author of the posting.</small>
    <div ng-messages='modalForm.inputAuthor.$error'>
      <div ng-message='minlength'>author must be at least 5 characters long.</div>
    </div>
  </fieldset>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Submit New Post</button>
  </div>
</form>
